html {
  font-size: 100%;
}

body {
  background: #eeeeee;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5 {
  // margin: 1rem 0 1.38rem;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.text-h1 {
  margin-top: 0;
  font-size: 1.2rem;
}

.text-h2 {
  font-size: 1.1rem;
}

.text-h3 {
  font-size: 1rem;
}

.text-h4 {
  font-size: 0.266rem;
}

.text-h5 {
  font-size: 1.125rem;
}

small,
.text_small {
  font-size: 0.889rem;
}

.q-ma-auto {
  margin: auto;
}

.q-my-auto {
  margin: auto 0;
}

.small-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.larg-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: block;
  }
}

.q-pa-0 {
  padding: 0;
}

.text-primary {
  color: $primary;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, transparent, $primary, transparent);
  border-radius: 14px;
  // border: 5px solid $primary;
}

.sticky-top {
  position: sticky;
  top: 0;
  left: 0;
}

.main-border {
  border: 1px solid $grey-5;
}

.relative {
  position: relative;
}

.index-100 {
  z-index: 100;
}

.disc-color {
  color: $font-body;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-500 {
  font-weight: 500;
}

.text-body1 {
  line-height: 1.7rem;
}

.main-rounded {
  border-radius: 8px !important;
}

.border-right {
  // border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: none;
}

.no-effict {
  border: none !important;
  box-shadow: none !important;
}

.text-left {
  text-align: left;
}

.q-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.text-right {
  text-align: right;
}

.text-500 {
  font-weight: 500;
}

.text-no-wrap {
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-transetion {
  transition: all 1s linear !important;
}

.card-shadow {
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%) !important;
}

/////////////////////////////////////////////
// some edit in global component inside quaser
/////////////////////////////////////////////
// slider in wilcome page
.welcom-sliede .q-carousel__navigation-inner {
  align-items: flex-end !important;
  justify-content: start;
  margin: 0 0 20px 20px;


  i {
    font-size: 1em;
  }

  button {
    margin: 0 !important;
  }
}

//  input design
.q-field--filled.q-field--rounded .q-field__control {
  border-radius: 8px 8px 8px 8px;

}

.login-page .q-field__append {
  margin: 0 !important;
  padding: 0 !important;
}

.popUp-story .q-dialog__inner--minimized {
  padding: 0 !important;
}

.offer-carousel {
  .q-carousel__navigation .q-btn {
    padding: 1px !important;
    margin: 3px 1px;
    font-size: 0.4rem !important;
  }

  .q-carousel__navigation-inner {
    bottom: -50px !important;
  }

  .q-carousel__control {
    bottom: -40px;
  }

}

/////////////////////////////////////////////
/////////////////////////////////////////////
.text-hint {
  color: $font-hint;
}


.vertical-list {
  position: relative;
  // margin: 0 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-padding: 100%;
  scroll-snap-type: y mandatory;
  height: max-content;
  padding: 4px;

  .my-card {
    padding: 0 15px;
    border-radius: 10px;
    flex: 0 0 100%;
    display: inline-block;
    margin: 5px 0;
    transition: all 1s ease-in-out;

    .hint {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      font-weight: 500;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }
}

.horizental-list {
  position: relative;
  // margin: 0 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  // scroll-padding: 100%;
  scroll-snap-type: x mandatory;
  height: max-content;
  padding: 4px;

  .my-card {
    padding: 0 15px;
    border-radius: 10px;
    flex: 0 0 20%;
    display: inline-block;
    margin: 5px 0;
    white-space: nowrap;

    .hint {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      font-weight: 500;
    }

    img {
      height: 90%;
      max-width: 100%;
      margin: auto;
    }
  }
}


.input {
  width: 100%;
  background: rgba(232, 232, 232, 0.5);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* text-align: left !important; */
}

// hide scroll bar
.show-scroll-bar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, transparent, $primary, transparent);
    border-radius: 14px;
    // border: 5px solid $primary;
  }
}

.text-sm {
  font-size: 12px;
}

input {
  direction: rtl !important;
}

.q-field__native {
  direction: rtl !important
}

.q-field__label {
  direction: rtl !important;
  right: 0;
  left: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
